//Global Styles

h1, h2{
    color: $primary-very-dark-blue;
}

ul{
    list-style: none;
}


.section{
    margin-top: 30%;
    text-align: center;
  }
  
  //Section 1&3 Content
  .section-header, .sub-header{
   @include title-header(28px);
   text-align: center;
  }
  
  .sub-header + p{
    font-family: $secondary-font;
    font-weight: weight(ubuntu-regular);
    padding-top: 8%;
    padding: 8% 2% 0 2%;
    font-size: 16px;
    line-height: 2;
    color: $neutral-very-dark-grayish-blue;
  }

  .section-desc{
    padding: 8%;
    .sub-header + p {
      @include contentparagraph();
      line-height: 2;
      padding: 8% 2% 0 2%;
    }
  }
  
  