//Footer

#footer-section{
    background-color: $neutral-very-dark-black-blue;
    text-align: center;
    border-radius: 0 100px 0 0;
    
    #footer-content{
      margin-top: 15%;
      padding: 20% 0; 
  
      .link-group{
        padding-top: 15%;
        color: $neutral-grayish-blue;
        font-family: $primary-font;
        
        h3{
          font-size: 16px;
        }
  
        ul{
          padding-top: 5%;
          li{
            padding-top: 3%;
  
             a {
              text-decoration: none;
              color: $neutral-grayish-blue;
              padding-top: 2%
            }
          }
  
          
        }
        
        
      }
    }
  
  }