@include mobile{
  @include baseHeroStyle();
  #hero{
    background-position: 34% 33%, right;
    background-size: 358%, cover;
    width: 100%;
    border-radius: 0 0 0 22%;
      #header-group{
        #hero-title{
          @include title-header(3.1rem);
          
        }
        #hero-subtitle{
          padding-top: 5%;
          font-size: 1.5rem;
        }
      }
    
      .button-group{   
        padding-top: 15%;
      
        #start-btn{
          @include button($primary-light-red, $neutral-white, 13px, 18px);
          font-size: 1.4rem;
        }
        #learn-btn{
          @include button($neutral-white, transparent, 13px, 18px);
          font-size: 1.4rem;
        }
      }
  }

   
}


@include mobileL{
  #header-group{
    // padding-top: 20% !important;
  }

}


@include tablet{
  #hero{
    background-position: 35% 50%, right;
    background-size: 188%, cover;
    border-radius: 0 0 0 10%;
    
    #header-group{
      // padding-top: 9% !important;

      #hero-subtitle{
        padding-top: 2%;
        font-size: 1.6rem;
      }
    }
    .button-group{
      padding-top: 3%;

      #start-btn{
        font-size: 1.4rem;
      }
      #learn-btn{
        font-size: 1.4rem;
      }
    }
  }
}

@include laptop{
  #header-group{
    // padding-top: 9% !important; 
  }
  #header-group{
    #hero-title{
      @include title-header(4.4rem !important) ;
    }
  }
  .button-group{
    padding-top: 4%;
  }
}

@include desktop{
  
  #header-group{
    padding-top: 5% !important; 
    #hero-title{
      @include title-header(5rem !important) ;
    }
  }
}



