// Mixins

  @mixin title-header($fontSize) {
    font-family: $primary-font;
    font-weight: weight(overpass-semi-bold);
    font-size: $fontSize;
  }
  
  @mixin contentparagraph(){
    font-family: $secondary-font;
    font-weight: weight(ubuntu-regular);
    color: $neutral-very-dark-grayish-blue;
  }

  @mixin button ($color, $background-color, $padding-topBtm, $padding-leftRight) {
    display:inline-block;
    font-family: $secondary-font;
    font-weight: weight(ubuntu-medium);
    padding: $padding-topBtm $padding-leftRight;
    border: 0.1em solid $neutral-white;
    margin:0 0.3em 0.3em 0;
    border-radius:24px;
    box-sizing: border-box;
    text-decoration:none;
    color:$color;
    cursor: pointer;
    background-color: $background-color;
    text-align:center;
  }

  
/// Base mixins - These are the base styles for each component of the webpage. The are style that will be shared 
// no matter the viewport width. 
  @mixin baseNavStyle(){
    .navigation{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar-shown{
        width: 100%;
      }
      .navigation-links{
        display: flex;
        // flex-direction: row;
        background: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;
          .nav-left{
            display: flex;
            flex-direction: row;
            .nav-item{
                color: $neutral-white;
                font-family: $primary-font;
                background-color: transparent;
                border: none;
                padding: 0;
                margin: 0;
            }
            
          }
          .nav-right{
            #login-link{
              font-family: $secondary-font;
              color: $neutral-white;
            }
            #signup-btn{
              //same
              @include button($primary-light-red, $neutral-white, 12px, 32px);
            }
          }
        }
      }
      .toggle-button{
        display: none;
      }
}

  @mixin baseHeroStyle(){
    #hero{
      background-image:url('../images/bg-pattern-intro.svg'), 
      linear-gradient(to bottom right,$gradient-very-light-red, $gradient-light-red);
      background-repeat: no-repeat, no-repeat;
      padding:56px 20px;
      width:100%;
      height: 85vh;

      .intro{
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        #header-group{
          color: $neutral-white;
          text-align: center;
  
          #hero-title{
            color: $neutral-white;
          }
          .secondary-info{
            font-family: $primary-font;
            color: $neutral-white;
            font-weight: weight(overpass-light);
          }
        }
        .button-group{
          text-align: center;
        }
      }

      
    }
  }















  //Media Queries - No Max
  //These queries doesn't have to a max-width because I would hate to rewrite the exact same code code for each query. 
  @mixin mobile {
    @media (min-width: #{$breakpoint-mobile} ){
      @content;
    }
  }

  @mixin mobileL {
    @media (min-width: #{$breakpoint-mobileL} ){
      @content;
    }
  }

  @mixin tablet {
    @media (min-width: #{$breakpoint-tablet} ){
      @content;
    }
  }

  @mixin laptop {
    @media (min-width: #{$breakpoint-laptop} ){
      @content;
    }
  }

  @mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
      @content;
    }
  }

  //Media Query with Max
  //This query has a max value for becauase I only want these certain styles to apply to a certain media query constraint

  @mixin mobileOnly {
    @media (max-width: 767px) {
      @content;
    }
  }


